################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PBL3_Coffee_Shop_Management_System.sln
